header {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(133, 118, 190) , rgb(16, 14, 179));
    padding: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:  20px;
}
.syntax {
    font-size: 12px;
    background-color: rgb(133, 118, 190);
    color: white;
    border-radius: 10px;
}

#city-button {
    background-color:rgb(98, 65, 231) ;
    color: white;
}
.box2{
   border: 1px solid black;
   margin-right: 5%;
   text-align: left;
   padding: 5px;
   border-radius: 18px;
   background-image: linear-gradient(to right, rgb(133, 118, 190) , rgb(16, 14, 179));
   box-shadow: 10px 5px 5px rgb(165, 162, 162);
}
.search {
    font-size: x-large;
    font-weight: bolder;
    
}
#search-btn {
    width: 100%;
    --bs-btn-padding-y: 0.1rem;
    margin-bottom: 4px;
   
}
#city-name {
    font-size: 25px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(8, 8, 8);
    margin:10px;
    background-color: rgb(133, 118, 190);
    color: white;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(165, 162, 162);

}
#fiveday {
    margin-top: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}
.btn-edit {
    background-color: silver;
    margin-top: 8px;
    border-radius: inherit;
    padding: 1px;
}
#blank-line {
    border-bottom: 1px solid grey;
    margin: 10px;
}
#city-input {
    font-size: 22px;
    font-weight: bolder;
}

#uv {
    color:white ;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}
#emoji1, #emoji2, #emoji3, #emoji4, #emoji5 {
    font-size: 70px;
    padding: -10px;
}

@media screen and (max-width:990px ){
   
    #emoji1, #emoji2, #emoji3, #emoji4, #emoji5 {
        font-size:30px;
    }
    .boxes{
        margin:0;
    }
}