header {
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, rgb(133, 118, 190) , rgb(16, 14, 179));
    padding: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:  20px;
}

.box2{
   border: 1px solid black;
   text-align: left;
   padding: 5px;
   border-radius: 18px;
}
.search {
    font-size: x-large;
    font-weight: bolder;
    
}
#search-btn {
    width: 100%;
    --bs-btn-padding-y: 0.1rem;
    margin-bottom: 4px;
   
}
#city-name {
    font-size: 25px;
    font-weight: bolder;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(56, 45, 219);
    margin:12px;
    background-color: rgb(95, 97, 207);
    color: white;
    font-size: 13px;

}
#fiveday {
    margin-top: 15px;
    text-align: left;
    font-weight: bolder;
    font-size: large;
}
.btn-edit {
    background-color: silver;
    margin-top: 8px;
    border-radius: inherit;
    padding: 1px;
}
#blank-line {
    border-bottom: 1px solid grey;
    margin: 10px;
}
#city-input {
    font-size: 22px;
    font-weight: bolder;
}

#uv {
    color:white ;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}
#emoji1, #emoji2, #emoji3, #emoji4, #emoji5 {
    font-size: 70px;
    padding: -10px;
}